# SQLite ile Veritabanı Yönetimi

In [1]:
# Çalıştırmadan önce dikkatli olun. .db uzantılı tüm dosyalar silinecektir.
# Bu kod, `/content/` dizinindeki tüm `.db` uzantılı dosyaları bulur ve siler.
# Ekleme sebebim Notebook'u baştan başlattığınızda daha önceki çalışmadan kalan
# veritabanlarının silinmesi. Buradaki bilgilerden ders kapsamında sorumlu değilsiniz.
import os
import glob

# Tüm .db dosyalarını bul
db_files = glob.glob('/content/'+'*.db')

# Bulunan tüm .db dosyalarını sil
for file in db_files:
    os.remove(file)

print(f"{len(db_files)} adet .db uzantılı dosya silindi.")

0 adet .db uzantılı dosya silindi.

### Veritabanı (DataBase, DB) Nedir ve Neden Kullanılır?

Veritabanı, verileri düzenli ve sistematik bir şekilde saklamak için kullanılan yapılandırılmış bir veri kümesidir. Veritabanları, verileri güvenli, hızlı ve etkin bir şekilde yönetmek, erişmek, güncellemek ve analiz etmek için kullanılır.

**Yapılandırılmış Veri (Structured Data):** Belirli bir formata veya modele göre düzenlenmiş ve kolayca sorgulanabilir, erişilebilir ve işlenebilir olan veridir. Bu veriler genellikle sabit şemalara sahiptir ve tablolar, sütunlar ve satırlar gibi belirlenmiş alanlarda saklanır.

Python kullanarak veritabanı programlamayı gerçekleştirmek için birçok seçenek bulunmaktadır. Python ile kullanabileceğiniz farklı veritabanı sistemlerini gözden geçirmek isterseniz, [Python DatabaseInterfaces](https://wiki.python.org/moin/DatabaseInterfaces) bağlantısında yer alan listeye göz atabilirsiniz. Bu seçenekler arasından, özellikle sadeliği, anlaşılabilirliği ve kullanıcı dostu oluşu nedeniyle SQLite veritabanı yönetim sistemine odaklanacağız. SQLite, öğrenmesi kolay ve etkili bir sistemdir, bu yüzden bu derste bu sistemi kullanmayı tercih ediyoruz.

Günümüzde kullanılan bazı veritabanı türleri şunlardır:
1. **Relational Database (İlişkisel Veritabanları)**: Veriler tablolarda saklanır ve bu tablolar arasında ilişkiler vardır.
   - *Örnekler:* MySQL, PostgreSQL, ***SQLite***, Microsoft SQL Server, Oracle Database

2. **Document-Based Database (Doküman Veritabanları)**: Veriler doküman olarak saklanır ve genellikle JSON benzeri formatlar kullanılır.
   - *Örnekler:* MongoDB, CouchDB, Amazon DocumentDB, Azure Cosmos DB (DocumentDB)

3. **Key-Value Store**: Veriler anahtar-değer çiftleri olarak saklanır. Performans açısından oldukça hızlıdır.
   - *Örnekler:* Redis, Memcached, Amazon DynamoDB
   
Ve dahası...

### SQLite Nedir?

- SQLite, yerleşik, hafif ve disk tabanlı bir veritabanı yönetim sistemidir. Server kurulumu gerektirmez ve konfigürasyon ihtiyacı minimaldir, bu da onu küçük projeler, mobil uygulamalar ve küçük ölçekli web siteler için ideal kılar.

- SQLite, C dili ile yazılmıştır ve **SQL (Structured Query Language, Yapılandırılmış Sorgu Dili)** standardını destekler. Bu dilin geniş kapsamlı kullanımı bu dersin dışında kalsa da, temel sorguları inceleyeceğiz. SQL dilini daha detaylı incelemek isteyenler için [W3Schools SQL Tutorial](https://www.w3schools.com/sql/) kaynağını ziyaret edebilirler.


- Python gibi dillerde özellikle popülerdir çünkü Python, SQLite'ı destekleyen `sqlite3` kütüphanesiyle birlikte gelir. Bu, SQLite'ın direkt olarak Python ile kullanılabilmesi anlamına gelir ve ekstra bir kurulum yapmanıza gerek kalmaz.

#### DB Browser for SQLite (SQLite için DB tarayıcısı) uygulaması

- SQLite'ı kullanmak için ekstra bir kurulum şart değildir. Ancak, SQLite veritabanı dosyalarını daha rahat yönetmek ve SQL sorgularını görsel bir arayüz üzerinden çalıştırmak istiyorsanız, SQLite için çeşitli grafik kullanıcı arayüzleri (GUI) mevcuttur. Bu araçlar genellikle SQLite veritabanınızı daha kolay bir şekilde oluşturmanıza, düzenlemenize ve sorgularınızı yönetmenize olanak tanır. Örneğin, "**DB Browser for SQLite**" popüler bir seçenektir ve şu adımları takip ederek kolayca kurulabilir:

1. DB Browser for SQLite'ın resmi web sitesine gidin ([DB Browser for SQLite](https://sqlitebrowser.org/)).
2. İşletim sistemine uygun sürümü seçin (Windows, macOS veya Linux).
3. İndirme işlemini tamamlayın ve indirilen kurulum dosyasını çalıştırın.
4. Kurulum sihirbazındaki adımları takip ederek uygulamayı bilgisayarınıza kurun.

Kurulum tamamlandıktan sonra, DB Browser for SQLite'ı açarak yeni veritabanları oluşturabilir, mevcut veritabanlarını açabilir ve SQL sorgularınızı görsel bir arayüz üzerinden çalıştırabilirsiniz.

#### **Temel Kavramlar**

- **Veritabanı (Database):** Verilerin organize bir şekilde saklandığı yapıdır.
- **Tablo (Table):** Veritabanında verilerin satır ve sütunlar halinde organize edildiği yapılardır.
- **Satır (Row) ve Sütun (Column):** Tablolardaki veri girdileri. Her satır bir kaydı, her sütun ise bir veri alanını temsil eder.
- **SQL (Structured Query Language):** Veritabanı işlemleri için kullanılan standart sorgulama dilidir.


#### **Temel SQL Komutları**

- **CREATE TABLE:** Yeni bir tablo oluşturur.
  - Örnek: `"CREATE TABLE IF NOT EXISTS tablo_adi (sutun1 TEXT, sutun2 INT)"`
    - `CREATE TABLE`: Yeni bir tablo oluşturur.
    - `IF NOT EXISTS`: Tablo zaten mevcut değilse oluşturur.
    - `tablo_adi`: Oluşturulacak tablonun adı.
    - `(sutun1 TEXT, sutun2 INT)`: Tablonun sütunlarını ve veri tiplerini tanımlar.

- **INSERT INTO:** Tabloya yeni bir kayıt ekler.
  - Örnek: `"INSERT INTO tablo_adi VALUES('text1', int2)"`
    - `INSERT INTO tablo_adi`: Verinin ekleneceği tabloyu belirtir.
    - `VALUES('text1', int2)`: Eklenecek verileri tanımlar.
  - Örnek: `"INSERT INTO tablo_adi (sutun1, sutun2) VALUES(?,?)", (var1, var2)`
    - `INSERT INTO tablo_adi (sutun1, sutun2)`: Belirtilen sütunlara veri ekler.
    - `VALUES(?,?)`: Parametreli sorgu, verilerin güvenli bir şekilde eklenmesini sağlar.
    - `(var1, var2)`: Parametrelerin yerine geçecek değerler.

- **SELECT:** Tablo verilerini sorgular (okur).
  - Örnek: `"SELECT * FROM tablo_adi"`
    - `SELECT *`: Tablodaki tüm sütunları seçer.
    - `FROM tablo_adi`: Veri çekilecek tabloyu belirtir.
  - Örnek: `"SELECT sutun1 FROM tablo_adi"`
    - `SELECT sutun1`: Sadece belirli bir sütunu seçer.
  - Örnek: `"SELECT * FROM tablo_adi WHERE sutun1 = 'text1'"`
    - `WHERE sutun1 = 'text1'`: tablo_adi tablosunun sutun1 sütunun içinde belirli bir koşulu sağlayan verileri seçer.
  - Örnek: `"SELECT * FROM tablo_adi WHERE sutun2 < x"`
    - `WHERE sutun2 < x`: Bir sütunun belirli bir değerden küçük olduğu verileri seçer.

- **UPDATE:** Tablo verilerini günceller.
  - Örnek: `"UPDATE tablo_adi SET sutun1 = 'yeni_deger' WHERE sutun2 = x"`
    - `UPDATE tablo_adi`: Güncellenecek tabloyu belirtir.
    - `SET sutun1 = 'yeni_deger'`: Hangi sütunun hangi değerle güncelleneceğini belirtir.
    - `WHERE sutun2 = x`: Güncellemenin uygulanacağı koşulu belirtir.

- **DELETE:** Tablo verilerini siler.
  - Örnek: `"DELETE FROM tablo_adi WHERE sutun1 = 'text1'"`
    - `DELETE FROM tablo_adi`: Verinin silineceği tabloyu belirtir.
    - `WHERE sutun1 = 'text1'`: Silme işleminin uygulanacağı koşulu belirtir.
  - Örnek: `"DELETE FROM tablo_adi"`
    - Tablodaki tüm verileri siler. (Dikkatli kullanılmalı)

Bu temel SQL komutları, veri tabanı yönetimi ve veri manipülasyonu için en sık kullanılan komutlardır. Veritabanı işlemlerinde doğru ve güvenli veri ekleme, güncelleme ve silme işlemleri için bu komutların kullanımına dikkat edilmelidir.

**Not:** SQL komutları büyük-küçük harf duyarlı değildir. Yani, `SELECT`, `select` veya `Select` komutları aynı işlevi görür. Ancak, kodun okunabilirliğini artırmak için SQL komutlarının büyük harflerle yazılması tavsiye edilir. Bunun sebebi komutları tablo ve sütun isimlerinden kolayca ayırt edebilmekdir. Özellikle karmaşık sorgularda veya çok sayıda tablo ve sütun kullanıldığında kodun anlaşılabilirliğini büyük ölçüde artırır. Türkçe karakterler (ç, ş, ğ, ü, ö, ı), bazı veritabanı sistemlerinde sorunlara neden olabilir, bu yüzden bu karakterlerin kullanılmaması önerilir.

Veritabanı ile çalışma süreci beş temel aşamadan oluşur.

<img src="https://drive.google.com/uc?export=view&id=1GioWvIugRVWvaKZEuEW-qLdK37lsIRrv">


**Birinci aşama: Veritabanı bağlantısının yapılması**
Bu aşamada, veritabanı sunucusuna bağlanmak için gerekli olan bağlantı bilgileri kullanılarak veritabanı bağlantısı kurulur. Bu işlem, kullanılan programlama diline bağlı olarak değişiklik gösterebilir, ancak genellikle bir veritabanı sürücüsü veya kitaplığı kullanılarak gerçekleştirilir.

**İkinci aşama: SQL kodlarının yürütülmesi için imleç (cursor) nesnesinin oluşturulması**
Veritabanı bağlantısı kurulduktan sonra, SQL komutlarını yürütmek için bir imleç nesnesi oluşturulur. İmleç nesnesi, SQL komutlarını veritabanına iletmek ve sonuçları almak için kullanılır.

**Üçüncü aşama: İmleç nesnesi ile SQL kodlarının yazılması ve çalıştırılması**
Bu aşamada, SQL komutları imleç nesnesi kullanılarak yazılır ve çalıştırılır. SQL komutları, veri seçme (SELECT), veri ekleme (INSERT), veri güncelleme (UPDATE) ve veri silme (DELETE) işlemlerini içerebilir.

**Dördüncü aşama: Veritabanının güncellenmesi**
Eğer yapılan işlem veri seçme (SELECT) değilse, bu aşamada veritabanında yapılan değişiklikler kalıcı hale getirilir. Bu işlem genellikle "commit" komutu ile gerçekleştirilir. Veri seçme işlemi, veritabanını güncellemez, bu yüzden bu aşama sadece veri ekleme, güncelleme veya silme işlemlerinde uygulanır.

**Beşinci aşama: Veritabanı bağlantısının kapatılması**
Son aşamada, veritabanı bağlantısı kapatılır. Bu, kaynakların serbest bırakılması ve veritabanı ile bağlantının sonlandırılması için önemlidir. İmleç nesnesi ve bağlantı nesnesi bu aşamada kapatılır.

Bu beş aşama, veritabanı işlemlerinin güvenli ve etkili bir şekilde gerçekleştirilmesini sağlar. Veritabanı bağlantısını doğru şekilde kurmak ve kapatmak, veri bütünlüğü ve sistem performansı açısından kritik öneme sahiptir.

## Sqlite Veritabanı Oluşturma

#### 1. SQLite Bağlantısı Oluşturma

İlk olarak, SQLite veritabanına bağlantı kuralım.

In [2]:
import sqlite3  # sqlite3 modülünü içe aktarıyoruz

# Eğer varsa veritabanına bağlanıyoruz, yoksa yeni bir tane oluşturur
baglanti = sqlite3.connect("kutuphane.db")

`kutuphane.db` isimli bir veritabanı dosyasına bağlantı kuruyoruz. Eğer dosya mevcut değilse, yeni bir veritabanı dosyası oluşturulur.

#### 2. Kursor Oluşturma

Veritabanı bağlantısı kurulduktan sonra, veri işlemleri yapabilmek için bir kursor oluşturmamız gerekiyor.

In [3]:
# Veritabanı işlemleri için bir kursor oluşturuyoruz
imlec = baglanti.cursor()

#### 3. Tablo Oluşturma

SQLite veritabanında tablo oluşturmak için SQL komutlarını kullanabiliriz.

```sql
imlec.execute("CREATE TABLE kitaplar (isim TEXT, yazar TEXT, yayinevi TEXT, sayfa_sayisi INT)")
```

`kitaplar` isimli bir tablo oluşturur. Tablo oluştururken sütun ismi ve ne tür veri tipinin tutulacağını (isim TEXT, yas INT vb.) belirtiyoruz. Eğer tablo daha önceden oluşturulduysa `OperationalError: table kitaplar already exists` hatası verir. Bu nedenle aşağıdaki gibi `CREATE TABLE IF NOT EXISTS kitaplar` SQL komutunu kullanırız.

In [4]:
# Eğer tablo mevcut değilse yeni bir tablo oluşturuyoruz
imlec.execute("CREATE TABLE IF NOT EXISTS kitaplar (isim TEXT, yazar TEXT, yayinevi TEXT, sayfa_sayisi INT)")

`kutuphane` veritabanında `kitaplar` isimli bir tablo oluşturur. Eğer tablo zaten mevcutsa, tekrar oluşturmaz.

Tablonun sütunları: isim, yazar, yayinevi, sayfa_sayisi

**Veri Ekleme, Okuma, Güncelleme ve Silme (Creat, Read, Update, Delete (CRUD) İşlemleri)**

#### 4. Veri Ekleme (Create)

Tabloya veri eklemek için `INSERT INTO` komutunu kullanırız.

In [5]:
# 'kitaplar' tablosuna dört farklı kitap kaydı ekleyelim.

# 'Kürk Mantolu Madonna' kitabını veritabanına ekliyoruz
imlec.execute("INSERT INTO kitaplar VALUES('Kürk Mantolu Madonna', 'Sabahattin Ali', 'Yapı Kredi Yayınları', 160)")

# 'Tutunamayanlar' kitabını veritabanına ekliyoruz
imlec.execute("INSERT INTO kitaplar VALUES('Tutunamayanlar', 'Oğuz Atay', 'İletişim Yayınları', 724)")

# 'İnce Memed' kitabını veritabanına ekliyoruz
imlec.execute("INSERT INTO kitaplar VALUES('İnce Memed', 'Yaşar Kemal', 'Yapı Kredi Yayınları', 419)")

# 'Saatleri Ayarlama Enstitüsü' kitabını veritabanına ekliyoruz
imlec.execute("INSERT INTO kitaplar VALUES('Saatleri Ayarlama Enstitüsü', 'Ahmet Hamdi Tanpınar', 'Dergah Yayınları', 392)")

# Alternatif olarak, veri eklerken değişkenleri veya kullanıcıdan alınan girdileri kullanabiliriz.
# Bu yöntem SQL enjeksiyon saldırılarına karşı daha güvenlidir.

# Eklemek istediğimiz kitabın bilgilerini değişkenlerde saklıyoruz
isim = 'Beyaz Kale'
yazar = 'Orhan Pamuk'
yayinevi = 'İletişim Yayınları'
sayfa_sayisi = 190

# Değişkenleri kullanarak veritabanına veri ekliyoruz
# 'INSERT INTO kitaplar VALUES(?,?,?,?)' sorgusu, '?' işaretleri ile parametreli sorguyu temsil eder.
# Bu, değişkenlerin değerlerinin sorguya güvenli bir şekilde yerleştirilmesini sağlar.
imlec.execute("INSERT INTO kitaplar VALUES(?,?,?,?)", (isim, yazar, yayinevi, sayfa_sayisi))

In [6]:
baglanti.commit()  # Değişiklikleri kaydediyoruz
baglanti.close()  # Bağlantıyı kapatıyoruz

#### 5. Veri Sorgulama (okuma, (Read))

Tablodan veri sorgulamak için `SELECT` komutunu kullanırız.

In [7]:
# Veritabanına bağlanıyoruz
baglanti = sqlite3.connect("kutuphane.db")
imlec = baglanti.cursor()

# Tablodan verileri sorguluyoruz
imlec.execute("SELECT * FROM kitaplar")
veriler = imlec.fetchall()  # Tüm verileri çekiyoruz
print(veriler)

[('Kürk Mantolu Madonna', 'Sabahattin Ali', 'Yapı Kredi Yayınları', 160), ('Tutunamayanlar', 'Oğuz Atay', 'İletişim Yayınları', 724), ('İnce Memed', 'Yaşar Kemal', 'Yapı Kredi Yayınları', 419), ('Saatleri Ayarlama Enstitüsü', 'Ahmet Hamdi Tanpınar', 'Dergah Yayınları', 392), ('Beyaz Kale', 'Orhan Pamuk', 'İletişim Yayınları', 190)]

In [8]:
# Verileri ekrana yazdırıyoruz
for veri in veriler:
    print(veri)

baglanti.close()  # Bağlantıyı kapatıyoruz

('Kürk Mantolu Madonna', 'Sabahattin Ali', 'Yapı Kredi Yayınları', 160)
('Tutunamayanlar', 'Oğuz Atay', 'İletişim Yayınları', 724)
('İnce Memed', 'Yaşar Kemal', 'Yapı Kredi Yayınları', 419)
('Saatleri Ayarlama Enstitüsü', 'Ahmet Hamdi Tanpınar', 'Dergah Yayınları', 392)
('Beyaz Kale', 'Orhan Pamuk', 'İletişim Yayınları', 190)

Bu kod, `kitaplar` tablosundaki tüm kayıtları sorgular ve ekrana yazdırır.

#### 6. Veri Güncelleme (Update)

Tablodaki mevcut bir kaydı güncellemek için `UPDATE` komutunu kullanırız.

In [9]:
# Veritabanına bağlanıyoruz
baglanti = sqlite3.connect("kutuphane.db")
imlec = baglanti.cursor()

# Tabloya yeni bir kayıt ekliyoruz
imlec.execute("UPDATE kitaplar SET sayfa_sayisi = 165 WHERE isim = 'Kürk Mantolu Madonna'")
baglanti.commit()  # Değişiklikleri kaydediyoruz
baglanti.close()  # Bağlantıyı kapatıyoruz

`Kürk Mantolu Madonna` adlı kitabın sayfa sayısını 163 olarak günceller.


#### 7. Veri Silme (Delete)

Tablodan veri silmek için `DELETE FROM` komutunu kullanırız.

In [10]:
# Veritabanına bağlanıyoruz
baglanti = sqlite3.connect("kutuphane.db")
imlec = baglanti.cursor()

# Belirli bir kaydı siliyoruz
imlec.execute("DELETE FROM kitaplar WHERE isim = 'Beyaz Kale'")
baglanti.commit()  # Değişiklikleri kaydediyoruz
baglanti.close()  # Bağlantıyı kapatıyoruz

`Beyaz Kale` adlı kitabı `kitaplar` tablosundan siler.

Örneğin, `execute("DELETE FROM kitaplar WHERE sayfa_sayisi > 400 ")`sql komutu ile `kitaplar` tablosunda `sayfa_sayisi` 400'den büyük olan veriyi silebiliriz.

**Not:**
```sql
DELETE FROM tablo_adi
```
Bu komut, tablo_adi tablosundaki tüm veriyi siler ancak tablo yapısı korunur.

```sql
DROP TABLE tablo_adi;
```
Bu komut, tablo_adi tablosunu ve içindeki tüm veriyi kalıcı olarak siler.

**Örnek:** Kullanıcıdan veri alarak tabloya veri ekleme yapalım.

In [11]:
# Veritabanında kitaplar tablosu oluşturmak için bir fonksiyon tanımlıyoruz
def tablo_olustur():
    # Veritabanına bağlanıyoruz
    baglanti = sqlite3.connect("kutuphane.db")
    # Veritabanı işlemleri için bir kursor oluşturuyoruz
    imlec = baglanti.cursor()
    # Eğer tablo mevcut değilse yeni bir tablo oluşturuyoruz
    imlec.execute("""
    CREATE TABLE IF NOT EXISTS kitaplar (
        isim TEXT,
        yazar TEXT,
        yayinevi TEXT,
        sayfa_sayisi INT
    )
    """)
    # imlec.execute("CREATE TABLE IF NOT EXISTS kitaplar (isim TEXT,yazar TEXT,yayinevi TEXT,sayfa_sayisi INT)")
    # Değişiklikleri kaydediyoruz
    baglanti.commit()
    # Bağlantıyı kapatıyoruz
    baglanti.close()
    print("Tablo başarıyla oluşturuldu.")

# Kullanıcıdan veri almak için bir fonksiyon tanımlıyoruz
def kullanicidan_kitap_bilgileri_al():
    print("Kütüphanenize yeni kitap ekleyiniz:")
    isim = input("Kitap Adı: ")
    yazar = input("yazar Adı: ")
    yayinevi = input("Yayınevi: ")
    sayfa_sayisi = int(input("Sayfa Sayısı: "))
    return (isim, yazar, yayinevi, sayfa_sayisi)

# Veritabanına veri eklemek için bir fonksiyon tanımlıyoruz
def kitap_ekle(kitap_bilgileri):
    # Veritabanına bağlanıyoruz
    baglanti = sqlite3.connect("kutuphane.db")
    # Veritabanı işlemleri için bir kursor oluşturuyoruz
    imlec = baglanti.cursor()
    # ? işaretleri, SQL sorgusunda kullanıcının girdiği değerlerin yerleştirileceği yerlerdir.
    # Bu şekilde SQL enjeksiyon saldırılarına karşı da koruma sağlanmış olur.
    imlec.execute("INSERT INTO kitaplar VALUES(?, ?, ?, ?)", kitap_bilgileri)
    # Değişiklikleri kaydediyoruz
    baglanti.commit()
    # Bağlantıyı kapatıyoruz
    baglanti.close()
    print("Kitap başarıyla eklendi.")

# Ana program akışı
# Tabloyu oluşturuyoruz
tablo_olustur()

# Kullanıcıdan kitap bilgilerini alıyoruz ve tabloya ekliyoruz
kitap_bilgileri = kullanicidan_kitap_bilgileri_al()
kitap_ekle(kitap_bilgileri)

# örnek girdi:
# Kitap İsmi: Beyaz Kale
# yazar İsmi: Orhan Pamuk
# Yayınevi: İletişim Yayınları
# Sayfa Sayısı: 192

Tablo başarıyla oluşturuldu.
Kütüphanenize yeni kitap ekleyiniz:
Kitap Adı: Beyaz Kale
yazar Adı: Orhan Pamuk
Yayınevi: İletişim Yayınları
Sayfa Sayısı: 192
Kitap başarıyla eklendi.

**Açıklaması:**

1. **`kullanicidan_kitap_bilgileri_al()` Fonksiyonu:**
   - Kullanıcıdan kitap adı, yazar adı, yayınevi ve sayfa sayısını alır.
   - Alınan bilgileri bir tuple olarak döner.

2. **`tablo_olustur()` Fonksiyonu:**
   - `sqlite3.connect("kutuphane.db")` ile veritabanına bağlanır.
   - `cursor()` ile veritabanı işlemleri yapabilmek için bir kursor oluşturur.
   - `imlec.execute("CREATE TABLE IF NOT EXISTS kitaplar (isim TEXT, yazar TEXT, yayinevi TEXT, sayfa_sayisi INT)")` komutu ile `kitaplar` tablosunu oluşturur. Eğer tablo zaten mevcutsa, tekrar oluşturmaz.
   - `baglanti.commit()` ile yapılan değişiklikler kaydedilir.
   - `baglanti.close()` ile veritabanı bağlantısı kapatılır.
   - "Tablo başarıyla oluşturuldu." mesajı ekrana yazdırılır.

3. **`kitap_ekle()` Fonksiyonu:**
   - `sqlite3.connect("kutuphane.db")` ile veritabanına bağlanır.
   - `cursor()` ile veritabanı işlemleri yapabilmek için bir kursor oluşturur.
   - `imlec.execute("INSERT INTO kitaplar VALUES(?, ?, ?, ?)", kitap_bilgileri)` komutu, `kitap_bilgileri` tuple'ındaki bilgileri `kitaplar` tablosuna ekler. `?` işaretleri, SQL sorgusunda kullanıcının girdiği değerlerin yerleştirileceği yerlerdir.
   - `baglanti.commit()` ile yapılan değişiklikler kaydedilir.
   - `baglanti.close()` ile veritabanı bağlantısı kapatılır.
   - "Kitap başarıyla eklendi." mesajı ekrana yazdırılır.

In [12]:
# Veritabanına bağlanıyoruz
baglanti = sqlite3.connect("kutuphane.db")
# Veritabanı işlemleri için bir kursor oluşturuyoruz
imlec = baglanti.cursor()

# Tablodan verileri sorguluyoruz
imlec.execute("SELECT * FROM kitaplar")
veriler = imlec.fetchall()  # Tüm verileri çekiyoruz
for i in veriler:
    print(i)

('Kürk Mantolu Madonna', 'Sabahattin Ali', 'Yapı Kredi Yayınları', 165)
('Tutunamayanlar', 'Oğuz Atay', 'İletişim Yayınları', 724)
('İnce Memed', 'Yaşar Kemal', 'Yapı Kredi Yayınları', 419)
('Saatleri Ayarlama Enstitüsü', 'Ahmet Hamdi Tanpınar', 'Dergah Yayınları', 392)
('Beyaz Kale', 'Orhan Pamuk', 'İletişim Yayınları', 192)

**Örnek:** Tablodan belirli bir kritere uygun verileri çekme işlemi. Örneğin Yayın Evi 'İletişim Yayınları' olan kitapları çekelim. Bunu için aşağıdaki SQL sorgusunu kullanacağız,
```sql
SELECT * FROM kitaplar WHERE yayinevi='İletişim Yayınları'
```

In [13]:
# Veritabanına bağlanıyoruz
baglanti = sqlite3.connect("kutuphane.db")
# Veritabanı işlemleri için bir kursor oluşturuyoruz
imlec = baglanti.cursor()

# Belirli bir kritere göre tabloyu sorguluyoruz
# Bu sorgu, "İletişim Yayınları" yayınevine ait kitapları çeker
yayinevim = ("İletişim Yayınları")
imlec.execute("SELECT * FROM kitaplar WHERE yayinevi=?",(yayinevim,))

# Sorgu sonucunda gelen verileri bir listeye alıyoruz
gelen_veri_listesi = imlec.fetchall()

# Elde edilen sonuçları ekrana yazdırıyoruz
print("Sorgunuz ile eşleşen toplam =", len(gelen_veri_listesi), "kayıt bulunmuştur")

# Her bir kaydı ekrana yazdırıyoruz
print(f"{yayinevim} yayın evine ait kitaplar:")
for veri in gelen_veri_listesi:
    print(veri)

# Bağlantıyı kapatıyoruz
baglanti.close()

Sorgunuz ile eşleşen toplam = 2 kayıt bulunmuştur
İletişim Yayınları yayın evine ait kitaplar:
('Tutunamayanlar', 'Oğuz Atay', 'İletişim Yayınları', 724)
('Beyaz Kale', 'Orhan Pamuk', 'İletişim Yayınları', 192)

Burada belirli bir kritere göre tabloyu sorguluyoruz:

   - `imlec.execute("SELECT * FROM kitaplar WHERE yayinevi=?", (yayinevim,))` komutu, `kitaplar` tablosundan `Yayınevi` sütunu `İletişim Yayınları` olan tüm kayıtları seçer.
   - `?` işareti, SQL sorgusunda parametre yerine geçer ve `yayinevim` değişkeni bu parametre yerine kullanılır. Bu yöntem SQL enjeksiyon saldırılarına karşı koruma sağlar.

**Örnek:** Tablodan sadece kitap adlarını çekelim. Bunun için SQL sorgusunda aşağıdaki gibi sadece 'isim' sütunu seçeceğiz.

```sql
SELECT isim FROM kitaplar
```

In [14]:
# Veritabanına bağlanıyoruz
baglanti = sqlite3.connect("kutuphane.db")
# Veritabanı işlemleri için bir kursor oluşturuyoruz
imlec = baglanti.cursor()

# Tabloyu sorguluyoruz ve sadece kitap adlarını seçiyoruz
imlec.execute("SELECT isim FROM kitaplar")
# Sorgu sonucunda gelen verileri bir listeye alıyoruz
gelen_veri_listesi = imlec.fetchall()

# Elde edilen kitap adlarını ekrana yazdırıyoruz
print("Tablodaki kitap adları:")
for index,veri in enumerate(gelen_veri_listesi):
    print(index,':',veri[0])

# Bağlantıyı kapatıyoruz
baglanti.close()

Tablodaki kitap adları:
0 : Kürk Mantolu Madonna
1 : Tutunamayanlar
2 : İnce Memed
3 : Saatleri Ayarlama Enstitüsü
4 : Beyaz Kale

#### Alıştırma Soruları

1. Okul adında bir veritabanı oluşturup personel adında bir tablo oluşturunuz. Örnek tablo alanları ve veri tipleri aşağıdaki gibidir:
   - kimlik_no INT
   - ad_soyad TEXT
   - telefon_no TEXT
   - e_posta TEXT
   - rolu TEXT
   - çalışılan_birim TEXT

2. Okul veritabanında personel kimlik numarasına göre bilgilerini ekrana getiren programı yazınız.

3. Okul veritabanında ogrenci adında bir tablo oluşturunuz. Örnek tablo alanları ve veri tipleri aşağıdaki gibidir:
   - ogrenci_no INT
   - ad_soyad TEXT
   - telefon_no TEXT
   - e_posta TEXT
   - sınıfı TEXT
   - veli_adı TEXT
   - veli_numarası TEXT

4. Okul veritabanında öğrenci bilgilerinin tamamını güncelleyebilen programı yazınız.

### Cevaplar:

**1. Veritabanı ve Personel Tablosu Oluşturma**

In [15]:
# Veritabanı bağlantısı oluşturuluyor
baglanti = sqlite3.connect("okul.db")
imlec = baglanti.cursor()

# Personel tablosu oluşturuluyor
imlec.execute("""
CREATE TABLE IF NOT EXISTS personel (
    kimlik_no INT,
    ad_soyad TEXT,
    telefon_no TEXT,
    e_posta TEXT,
    rolu TEXT,
    çalışılan_birim TEXT
)
""")

# Tabloya veri eklemek için örnek veriler
personel_verileri = [
    (1, 'Ahmet Yılmaz', '1234', 'ahmet.yilmaz@example.com', 'Öğretmen', 'Matematik'),
    (2, 'Mehmet Kaya', '5678', 'mehmet.kaya@example.com', 'Öğretmen', 'Fizik'),
    (3, 'Ayşe Demir', '9101', 'ayse.demir@example.com', 'İdari Personel', 'Müdür Yardımcısı')
]

# Verilerin tabloya eklenmesi
imlec.executemany("INSERT INTO personel (kimlik_no, ad_soyad, telefon_no, e_posta, rolu, çalışılan_birim) VALUES (?, ?, ?, ?, ?, ?)", personel_verileri)

# Değişiklikler kaydediliyor ve bağlantı kapatılıyor
baglanti.commit()
baglanti.close()

**2. Personel Bilgilerini Kimlik Numarasına Göre Getirme**

In [16]:
# Veritabanı bağlantısı oluşturuluyor
baglanti = sqlite3.connect("okul.db")
imlec = baglanti.cursor()

# Kullanıcıdan kimlik numarası alınıyor
kimlik_no = input("Bilgilerini görmek istediğiniz personelin kimlik numarasını giriniz: ")

# Personel bilgilerini sorgulama
sorgu = "SELECT * FROM personel WHERE kimlik_no = ?"
imlec.execute(sorgu, (kimlik_no,))
bilgiler = imlec.fetchall()

# Sonuçlar ekrana yazdırılıyor
print(bilgiler)

# Bağlantı kapatılıyor
baglanti.close()

Bilgilerini görmek istediğiniz personelin kimlik numarasını giriniz: 1
[(1, 'Ahmet Yılmaz', '1234', 'ahmet.yilmaz@example.com', 'Öğretmen', 'Matematik')]

**3. Veritabanında Öğrenci Tablosu Oluşturma**

In [17]:
# Veritabanı bağlantısı oluşturuluyor
baglanti = sqlite3.connect("okul.db")
imlec = baglanti.cursor()

# Öğrenci tablosu oluşturuluyor
imlec.execute("""
CREATE TABLE IF NOT EXISTS ogrenci (
    ogrenci_no INT,
    ad_soyad TEXT,
    telefon_no TEXT,
    e_posta TEXT,
    sınıfı TEXT,
    veli_adı TEXT,
    veli_numarası TEXT
)
""")

# Tabloya veri eklemek için örnek öğrenci verileri
ogrenci_verileri = [
    (1, 'Ali Veli', '1234', 'ali.veli@example.com', '10A', 'Veli Veli', '4321'),
    (2, 'Ayşe Fatma', '5678', 'ayse.fatma@example.com', '11B', 'Fatma Fatma', '8765'),
    (3, 'Mehmet Can', '9101', 'mehmet.can@example.com', '12C', 'Can Can', '1098')
]

# Verilerin tabloya eklenmesi
imlec.executemany("INSERT INTO ogrenci (ogrenci_no, ad_soyad, telefon_no, e_posta, sınıfı, veli_adı, veli_numarası) VALUES (?, ?, ?, ?, ?, ?, ?)", ogrenci_verileri)

# Değişiklikler kaydediliyor ve bağlantı kapatılıyor
baglanti.commit()
baglanti.close()

**4. Öğrenci Bilgilerini Güncelleme**

In [18]:
# Veritabanı bağlantısı oluşturuluyor
baglanti = sqlite3.connect("okul.db")
imlec = baglanti.cursor()

# Kullanıcıdan öğrenci numarası alınıyor
ogrenci_no = input("Bilgilerini güncellemek istediğiniz öğrencinin numarasını giriniz: ")

# Mevcut öğrenci bilgileri sorgulanıyor
sorgu = "SELECT * FROM ogrenci WHERE ogrenci_no = ?"
imlec.execute(sorgu, (ogrenci_no,))
bilgiler = imlec.fetchall()
print(bilgiler)

# Kullanıcıdan yeni bilgiler alınıyor
yeni_bilgiler = input("""
Lütfen yeni bilgileri araya virgül koyarak giriniz:
ogrenci_no, ad_soyad, telefon_no, e_posta, sınıfı, veli_adı, veli_numarası
""")
liste = yeni_bilgiler.split(",")

# Öğrenci bilgileri güncelleniyor
sorgu = """
UPDATE ogrenci
SET ogrenci_no = ?, ad_soyad = ?, telefon_no = ?, e_posta = ?, sınıfı = ?, veli_adı = ?, veli_numarası = ?
WHERE ogrenci_no = ?
"""
imlec.execute(sorgu, (liste[0], liste[1], liste[2], liste[3], liste[4], liste[5], liste[6], ogrenci_no))

# Değişiklikler kaydediliyor ve bağlantı kapatılıyor
baglanti.commit()
baglanti.close()

Bilgilerini güncellemek istediğiniz öğrencinin numarasını giriniz: 2
[(2, 'Ayşe Fatma', '5678', 'ayse.fatma@example.com', '11B', 'Fatma Fatma', '8765')]

Lütfen yeni bilgileri araya virgül koyarak giriniz:
ogrenci_no, ad_soyad, telefon_no, e_posta, sınıfı, veli_adı, veli_numarası
7676, murat, 2626, murat@example.com,12B,Mustafa,3535

### Temel Teknik Kelimeler

- **Delete** = Sil
- **Select** = Seç
- **Fetch** = Getir (oku,göster)
- **Create** = Oluştur
- **Insert** = Ekle
- **Update** = Güncelle
- **Execute** = Çalıştır (yürüt)
- **Commit** = Onayla (İşle)
- **Cursor** = İmleç
- **Table** = Tablo
- **Database** = Veritabanı
- **Column** = Sütun
- **Row** = Satır
- **Query** = Sorgu
- **Connect** = Bağlan
- **Close** = Kapat
- **Values** = Değerler
- **Where** = Nerede (koşul ifadesi olarak -de/-da)
- **Exists** = Var
- **Not Exists** = Yok
- **Drop** = Kaldır (Sil)
- **From** = -den/-dan (kaynak belirtirken)


**Buradan sonrası derste kullanılmadı(Sorumlu değilsiniz):**

- **Join** = Birleştir
- **Inner Join** = İç Birleştirme
- **Left Join** = Sol Birleştirme
- **Right Join** = Sağ Birleştirme
- **Outer Join** = Dış Birleştirme
- **Group By** = Grupla
- **Order By** = Sırala
- **Having** = Şartla
- **Limit** = Sınırla
- **Offset** = Atla
- **Distinct** = Farklı
- **Alter** = Değiştir
- **Primary Key** = Birincil Anahtar
- **Foreign Key** = Yabancı Anahtar
- **Index** = Dizin
- **Auto Increment** = Otomatik Artırma
- **Constraint** = Kısıtlama
- **Default** = Varsayılan
- **Schema** = Şema
- **View** = Görünüm
- **Trigger** = Tetikleyici